body {
    background-color: #3A506B;
}

#clean-btn {
    height: 120px;
    width: 120px;
    /* border-radius exactly half of width/height */
    border-radius: 60px;
    margin-top: 30px;
    border: none;
    color: #6FFFE9;
    background-color: #0B132B;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Source Code Pro';
}

.form-check {
    width: 100px;
    border-radius: 25px;
    background-color: #6FFFE9;
}

#clean-btn:hover {
    animation: shadow-fade 3s 1;
    animation-fill-mode: forwards;
}

.row {
    text-align: center;
}

.container {
    text-align: center;
}

@keyframes shadow-fade {
    20% {
	bottom: 10px;
	box-shadow: 0 0 10px 10px #6FFFE9, 0 6px 10px 0 #6FFFE0;
    }
    100% {
	box-shadow: 1px 4px 6px 0 #6FFFE9, 0 6px 10px 0 #6FFFE0;
    }
}
